.App {
  max-width: 960px;
  margin: 30px auto;
  color: #272343;
}

.App h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.App .logo {
  width: 80px;
}

.App img {
  margin: 0 auto;
  display: block;
}

.App footer {
  text-align: center;
}

.App a {
  color: #272343;
}
